@charset "UTF-8";


/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
	background: #bdbdbd;
	height: 300px;
	width: 100%;
}





/*=========================================================================================*/
/*---------------------------- Media queries ----------------------------------------------*/
/*=========================================================================================*/

@media screen and (max-width:959.98px) {

}
@media screen and (max-width:768.98px) {

}
@media screen and (max-width:549.98px) {

}
@media screen and (max-width:479.98px) {

}
@media screen and (max-width: 375.98px){

}