@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	}
a {
	text-decoration: none;
	color: #AD1F34;
} 
ul, ol {
	padding: 0;
	li {
		list-style: none;
	}
}
img {
	width: 100%;
	object-fit: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
button {
	border: none;
	cursor: pointer;
}
html,
body {
	background-color: #ffffff;
	line-height: 1;
	font-size: 18px;
	font-weight: 400;
	font-family: 'SF Pro Display';
	color: #000000;
	height: 100%;
}
body._lock {
	overflow: hidden;
}
body.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
/*---------------------------*/
[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
/*---------------------------*/
.page {
	flex: 1 1 auto;
}
/*--------------------------------------*/
/*--------- Bg style -------------------*/
/*--------------------------------------*/

.ibg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		object-fit: cover;
		height: 850px;
	}
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/







/*=========================================================================================*/
/*=========================================================================================*/
/*---------------------------- Media queries ----------------------------------------------*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width:959.98px) {

}
@media screen and (max-width:768.98px) {

}
@media screen and (max-width:549.98px) {

}
@media screen and (max-width:479.98px) {

}
@media screen and (max-width: 375.98px){

}